<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.flare.plugin"
	version="0.2">

  <name>Flare Plugin</name>

  <description>
    Allow native interaction for Flare app
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/flare.js" name="flare">
    <clobbers target="Flare" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Flare">
	<param name="android-package" value="com.flare.plugin.Flare" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.VIBRATE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    </config-file>
    
    <source-file src="src/android/Flare.java" target-dir="src/com/flare/plugin" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Flare">
        <param name="ios-package" value="Flare"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Flare.h" />
    <source-file src="src/ios/Flare.m" />
    
    <resource-file src="src/ios/silentbeep.wav" />
    
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
        <array>
            <string>audio</string>
            <string>location</string>
        </array>
    </config-file>
    
  </platform>

</plugin>
